#danmaku_list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}
#dnamaku_list > img {
	border-radius: 25px;
	height: 50px;
	width: 50px;
	margin: 5px;
}
#search {
	display: flex;
	flex-direction: row;
}
#search > input {
	margin-bottom: 15px;
	border-top: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	border-left: 1px solid #dcdcdc;
	border-right: 0;
	height: 2.5rem;
	min-width: 20rem;
	max-width: 25rem;
	padding: 20px;
	border-radius: 20px 0 0 20px;
}
#search > input:focus-visible {
	outline: none !important;
}
#search > button {
	height: 2.5rem;
	width: 3rem;
	padding: 20px 0;
	border-radius: 0 20px 20px 0;
	border-top: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	border-left: 0;
	border-right: 1px solid #dcdcdc;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
}
.icon {
	height: 1.5rem;
	width: 1.5rem;
}
